 @import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');
 * {
     box-sizing: border-box;
 }
 
 body {
     background-color: rgb(189, 212, 87);
     font-family: 'Muli', sans-serif;
     height: 80px;
     text-align: center;
     justify-content: center;
     align-items: center;
 }
 
 .pokemongif {
     height: 150px;
     width: 600px;
     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
     border-radius: 25px;
     border: none;
     margin: 30px;
 }
 
 .welcome {
     font-family: 'Muli', sans-serif;
     text-align: center;
     margin: 15px;
     font-weight: bolder;
     display: block;
 }
 
 .poke-container {
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
 }
 
 .pokeClass {
     margin: 5px;
     width: 200px;
     height: 280px;
     align-items: center;
     justify-content: center;
     border: none;
     border-radius: 25px;
     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
 }
 
 .pokeIdContainer {
     margin: 10px;
 }
 
 .pokeId {
     margin: 10px;
     padding: 5px;
     font-size: 11px;
     font-family: 'Muli', sans-serif;
     text-align: center;
     color: rgb(3, 34, 51);
     background-color: rgba(162, 167, 226, 0.678);
     border: none;
     border-radius: 25px;
 }
 
 .pokeText {
     padding: 2px;
     margin: 0;
     font-family: 'Muli', sans-serif;
     text-align: center;
 }
 
 .pokeImage {
     padding: 2px;
     margin-top: 10px;
     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
     border: none;
     border-radius: 25px;
     width: 80%;
     overflow: visible;
 }
 
 .pokeType {
     font-family: 'Muli', sans-serif;
     margin: 2px;
 }